.metricas{
    display:flex;
    margin: 4em;
}

.metrica__container{
    margin: 0 18px;
    width: 25%;
}

.container__titulo{
    color: var(--cor-vermelho);
    font-weight: 600;
    font-size: 60px;
}

.container__subtitulo{
    margin: 12px 0;
    font-size: 18px;
}

.container__texto{
    color: var(--cor-cinza);
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 720px){

    .metricas{
        margin: 2em 6px;
    }
    
    .container__titulo{
        font-size: 32px;
    }

    .container__subtitulo{
        font-size: 16px;
    }

    .metrica__container{
        margin: 0 6px;
    }
}